.c-pad {
    padding: 100px 0;
}

.c-prev {
    left: 90%;
}

.c-next {
    right: 0;
}

.c-prev,
.c-next {
    position: absolute;
    top: 73%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #f5f5f5;
    text-align: center;
    background: none;
    filter: var(--bs-carousel-control-icon-filter);
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.carousel-indicators {
    position: absolute;
    right: 61%;
    bottom: 72%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators {
    position: absolute;
    right: 59%;
    bottom: 72%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 42px;
    height: 22px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--bs-carousel-indicator-active-bg);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}